@import "main.scss";

.main-app {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: hidden;
  font-family: runda, sans-serif;
  font-style: normal;
  line-height: 1;

  #{&}-leftSide {
    height: 100%;
    width: 50vw;
    background-color: $bg-right-color;

    .builder {
      height: calc(100% - $profile-picture-size - $builder-padding-top - 3rem);
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  #{&}-rightSide {
    @extend .main-app-leftSide;
    background-color: $bg-left-color;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;

    .close-resume {
      display: none;
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 10px;
      border: none;
      outline: none;
      background: none;
      font-size: 3rem;
      color: rgb(215, 215, 215);

      &:hover {
        color: black;
        @include transition-ease();
      }
    }
  }
}

@media (max-width: 1110px) {
  .main-app {
    position: relative;

    #{&}-leftSide {
      width: 100vw;
    }

    #{&}-rightSide {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      transform: translateX(100%);
      transition: transform 300ms ease-in-out;

      .resume-container {
        height: calc(max(320px, 60vw) * 1.4);
        width: max(320px, 60vw);
        margin: 2.5rem 0;
      }
    }

    #{&}-rightSide {
      &.visible {
        position: absolute;
        width: 100vw;
        transform: translateX(0);
        transition: transform 300ms ease-in-out;

        .close-resume {
          display: flex;
        }
      }
    }
  }
}
